.p-Sql-MainContainer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.p-Sql-ConnectionInformation-container {
    top: 20%;
    position: absolute;
    width: 100%;
}

.p-Sql-ConnectionInformation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.p-Sql-ConnectionInformation-input-wrapper {
    height: 30px;
    border: 1px solid var(--jp-border-color0);
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1 1 auto;
}

.p-Sql-ConnectionInformation-input-wrapper.p-mod-focused {
    border: 1px solid var(--md-blue-500);
    box-shadow: inset 0 0 4px var(--md-blue-300);
}

.p-Sql-ConnectionInformation-text {
    font-size: var(--jp-ui-font-size1);
    height: 28px;
    line-height: 28px;
    color: var(--jp-ui-font-color1);
    font-weight: 400;
    overflow: hidden;
}

.p-Sql-ConnectionInformation-input {
    padding: 0;
    border: 0;
    width: 100%;
    background: transparent;
}

.p-Sql-ConnectionInformation-input:focus {
    outline: none;
}

.p-Sql-ConnectionInformation-container summary:focus {
    outline: none;
}

.p-Sql-Editor {
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    border-radius: 0px;
    background: var(--jp-cell-editor-background);
}

.p-Sql-Editor .CodeMirror {
    background: transparent;
}

.p-Sql-Editor.jp-mod-focused {
    border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
    background: var(--jp-cell-editor-active-background);
    box-shadow: var(--jp-input-box-shadow);
}

.p-Sql-DatabaseIcon {
    background-image: url('./icons/database.svg');
}

.p-Sql-DatabaseSummary-Container {
    overflow: auto;
}

.p-Sql-TableList-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.p-Sql-TableList-content {
    font-family: var(--jp-ui-font-family);
    font-size: var(--jp-ui-font-size1);
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--jp-layout-color1);
}


.p-Sql-TableList-header {
    padding: 8px 0 8px 12px;
    color: var(--jp-ui-font-color1);
    font-size: var(--jp-ui-font-size0);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
    letter-spacing: 1px;
}

.jp-Toolbar-item.p-Sql-Toolbar-text {
    line-height: 24px;
    text-align: center;
}
