.p-Sql-MainContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.p-Sql-Toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.p-Sql-LoadingIcon {
    border: 1px solid var(--jp-border-color0);
    width: 30px;
    height: 30px;
    margin-left: 2px;
    flex: 0 0 auto;
}

.p-Sql-LoadingIcon-Spinner {
    /* Animated loading icon */
    width: 16px;
    height: 16px;
    margin: 5px;
    border: 2px solid white;
    border-top: 2px solid var(--jp-ui-font-color1);
    border-radius: 50%;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.p-Sql-ConnectionInformation-input-wrapper {
    height: 30px;
    border: 1px solid var(--jp-border-color0);
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1 1 auto;
}

.p-Sql-ConnectionInformation-input-wrapper.p-mod-focused {
    border: 1px solid var(--md-blue-500);
    box-shadow: inset 0 0 4px var(--md-blue-300);
}

.p-Sql-ConnectionInformation-text {
    font-size: var(--jp-ui-font-size1);
    height: 28px;
    line-height: 28px;
    color: var(--jp-ui-font-color1);
    font-weight: 400;
    overflow: hidden;
}

.p-Sql-ConnectionInformation-input {
    padding: 0;
    border: 0;
    width: 100%;
    background: transparent;
}

.p-Sql-ConnectionInformation-input:focus {
    outline: none;
}

.p-Sql-Editor {
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    border-radius: 0px;
    background: var(--jp-cell-editor-background);
}

.p-Sql-Editor .CodeMirror {
    background: transparent;
}

.p-Sql-Editor.jp-mod-focused {
    border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
    background: var(--jp-cell-editor-active-background);
    box-shadow: var(--jp-input-box-shadow);
}

.p-Sql-DatabaseIcon {
    background-image: url('./icons/database.svg');
}
